@use "sass:math";
@use "variables";
@use "../../node_modules/toolbox-sass";

a {
  color: variables.$colour-blue;
  font-weight: bold;
  text-decoration: underline variables.$colour-grey;

  &:active,
  &:focus,
  &:hover {
    text-decoration-color: currentColor;
  }
}

body {
  @include toolbox-sass.nice-font-rendering;

  background: variables.$colour-white;
  color: variables.$colour-black;
  font-size: percentage(math.div(variables.$base-font-size, 16px));
  font-family: variables.$base-font-stack;
  height: 100%;
  line-height: variables.$base-line-height;
  margin: 0;
}

html {
  height: 100%;
}

p {
  margin: math.div(variables.$base-line-height, 2) 0 0;
}
