
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style:  normal;
  font-weight: 400;
  src: url("poppins-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style:  normal;
  font-weight: 700;
  src: url("poppins-bold.woff2") format("woff2");
}
