@use "sass:math";
@use "../variables";
@use "../../../node_modules/toolbox-sass";

.event-card {
  &__header {
    display: flex;
    flex-direction: column;

    &__date {
      font-family: variables.$base-font-stack-heading;
      font-size: percentage(math.div(14px, variables.$base-font-size));
      letter-spacing: toolbox-sass.$base-one-pixel-in-rem;
      margin: 0;
      order: 1;
      text-transform: uppercase;
    }

    &__title {
      font-family: variables.$base-font-stack-heading;
      font-size: 150%;
      font-weight: bold;
      line-height: variables.$base-line-height * 1.5;
      margin: 0;
      order: 2;
    }
  }
}
