@use "sass:math";
@use "../variables";
@use "../../../node_modules/toolbox-sass";

.site-header {
  border-bottom: toolbox-sass.$base-one-pixel-in-rem solid variables.$colour-grey;
  background: variables.$colour-white;
  box-sizing: border-box;
  font-family: variables.$base-font-stack-heading;
  padding: variables.$base-line-height 0 (variables.$base-line-height - toolbox-sass.$base-one-pixel-in-rem);

  a {
    color: inherit;
    text-decoration: none;

    &:focus, &:hover {
      text-decoration: underline;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: variables.$base-content-width;
    padding: 0 variables.$base-line-height;
  }

  &__heading {
    font-size: 125%;
    line-height: variables.$base-line-height;
    margin: 0;

    @media #{toolbox-sass.$media-small-up} {
      font-size: 150%;
    }
  }

  &__navigation-list {
    display: flex;
    font-weight: bold;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      & + & {
        margin: 0 0 0 variables.$base-line-height;
      }
    }
  }

  &__rule {
    display: none;
  }
}
